<header>
  <img src="../assets/images/bg-header-desktop.svg" alt="Header Banner" class="img-banner">
</header>
<main>
  <div class="container main-container">
    <div class="filter-container">
      <div class="filter">
        <div class="filter-tags-container">
         
          <div class="tag-container">
            <div class="tag">
              <p class="ptag">JavaScript</p>
            </div>
            <div class="tag-close">
              <p class="ptag-close">X</p>
            </div>
          </div>

          <div class="tag-container">
            <div class="tag">
              <p class="ptag">JavaScript</p>
            </div>
            <div class="tag-close">
              <p class="ptag-close">X</p>
            </div>
          </div>

          <div class="tag-container">
            <div class="tag">
              <p class="ptag">JavaScript</p>
            </div>
            <div class="tag-close">
              <p class="ptag-close">X</p>
            </div>
          </div>

          <div class="tag-container">
            <div class="tag">
              <p class="ptag">JavaScript</p>
            </div>
            <div class="tag-close">
              <p class="ptag-close">X</p>
            </div>
          </div>
          
        </div>
        <div class="filter-clear-container">
          <p class="pclear">Clear</p>
        </div>
      </div>
    </div>
    
  </div>
</main>