header{
    width: 100vw;
    height: 150px;
    background-color: var(--Primary);
}
.img-banner{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--Background);
}
.filter-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.filter{
    width: 95%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 110px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
.filter-clear-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}
.pclear{
    color: var(--DarkGrayishCyan);
    font-weight: 700;
    font-size: 1.3rem;
}
.pclear:hover{
    cursor: pointer;
}
.ptag{
    color: var(--Primary);
    font-weight: 700;
    font-size: 0.8rem;
    position: relative;
    top: 8px;
}
.ptag-close{
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    position: relative;
    top: 8px;
}
.tag-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 85px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
}
.tag{
    background-color: var(--Background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag-close{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
    height: 35px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}
.tag-close:hover{
    cursor: pointer;
}
.filter-tags-container{
    display: flex;
    flex-wrap: wrap;
}

.jobs-container{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.job-container{
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid var(--Primary);   
    padding-left: 20px;
    margin-bottom: 20px;
}
.logo{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 15px;
}
.container-company{
    display: flex;
    gap: 25px;
}
.name-company{
    color: var(--Primary);
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    bottom: 10px;
}
.boton-new{
    width: 60px;
    height: 30px;
    background-color: var(--Primary);
    font-size: 1rem;
    color: white;
    font-weight: 700;
    padding-left: 8px;
    padding-top: 2px;
    border-radius: 8px;
    position: relative;
    bottom: 10px;
}
.boton-featured{
    width: 100px;
    height: 30px;
    background-color: var(--VeryDarkGrayishCyan);
    font-size: 1rem;
    color: white;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 8px;
    position: relative;
    bottom: 10px;
}
.prole{
    margin-top: -15px;
}
.ago{
    margin-top: -15px;
    color: var(--DarkGrayishCyan);
    font-weight: 700;
}
.hr{
    width: 95%;
}
.container-jobs-tags{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 5px;
    row-gap: 15px;
}
.tag2{
    background-color: var(--Background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.tag2:hover{
    cursor: pointer;
}

@media (min-width: 767px) {
    .tag-container{
        width: 170px;
    }
}
@media (min-width: 1440px) {
    .tag-container{
        width: 250px;
    }
    .job-container{
        height: 220px;
    }
}