@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=League+Spartan:wght@500;700&family=Outfit:wght@400;700&display=swap');
:root{
    --Background: hsl(180, 52%, 96%);
    --Primary: hsl(180, 29%, 50%);
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Background);
}